In [1]:
import pandas as pd
import json
%config InlineBackend.figure_format ='retina'

import movies
import cpi
cpi.update()

import requests

import config

tmdb_key = config.tmdb_key

In [2]:
%%capture
from tqdm import tqdm_notebook as tqdm
tqdm().pandas()

In [24]:
import numpy as np

def list_col_to_rows(df, list_col):
    new_df = pd.DataFrame(
        {col:np.repeat(df[col].values, df[list_col].str.len())
            for col in df.columns.drop(list_col)}
            ).assign(**{list_col:np.concatenate(df[list_col].values)})[df.columns]
    return new_df

In [3]:
import dill

In [4]:
with open('pickles/df_2000s.pkl', 'rb') as file:
    df_2000s = dill.load(file)
    
with open('pickles/df_2010s.pkl', 'rb') as file:
    df_2010s = dill.load(file)

In [12]:
df = pd.concat([df_2000s, df_2010s], axis=0, ignore_index=True, sort=True)

In [16]:
df = df[['title', 'id', 'imdb_id', 'year',
         'budget', 'budget_adj', 'budget_adj_bin', 'budget_bin', 'budget_imdb',
       'credits', 'decade', 'genres', 'keywords',
       'original_language', 'overview', 'popularity', 'production_companies',
       'production_countries', 'profit', 'profit_adj', 'release_date',
       'revenue', 'revenue_adj', 'revenue_imdb', 'runtime', 'spoken_languages',
       'status', 'vote_average', 'vote_count']]

In [197]:
df.rename(columns={'id':'film_id'}, inplace=True)

Which films had no budget information available?

In [198]:
df[df['budget']==0]

,title,film_id,imdb_id,year,budget,budget_adj,budget_adj_bin,budget_bin,budget_imdb,credits,...,profit_adj,release_date,revenue,revenue_adj,revenue_imdb,runtime,spoken_languages,status,vote_average,vote_count
5,The Best of Youth,11659,tt0346336,2003,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 1, 'character': 'Nicola ...",...,3.675242e+06,2003-06-22,2693053.0,3.675242e+06,2799773.0,366.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,8.3,248
12,Louis C.K.: Chewed Up,30969,tt1190722,2008,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 1, 'character': 'Himself...",...,0.000000e+00,2008-10-01,0.0,0.000000e+00,0.0,60.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,8.2,96
16,In the Mood for Love,843,tt0118694,2000,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 20, 'character': 'Chow M...",...,1.874546e+07,2000-05-22,12854953.0,1.874546e+07,12854953.0,99.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,8.1,931
26,La Maison en Petits Cubes,20722,tt1361566,2008,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 14, 'character': 'Narrat...",...,0.000000e+00,2008-06-10,0.0,0.000000e+00,0.0,12.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,8.0,268
27,George Carlin: It's Bad for Ya!,13643,tt0963207,2008,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 3, 'character': 'Himself...",...,0.000000e+00,2008-03-01,0.0,0.000000e+00,0.0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,8.0,58
29,Devils on the Doorstep,25838,tt0245929,2000,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 2, 'character': 'Ma Dasa...",...,2.762469e+04,2000-05-12,18944.0,2.762469e+04,18944.0,139.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,8.0,53
46,The Butterfly Circus,58500,tt1507355,2009,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 1001, 'character': 'Mr. ...",...,0.000000e+00,2009-01-01,0.0,0.000000e+00,0.0,20.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,7.9,63
47,Presto,13042,tt1245104,2008,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 6, 'character': 'Presto ...",...,0.000000e+00,2008-06-18,0.0,0.000000e+00,0.0,5.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,7.9,584
49,Forklift Driver Klaus: The First Day on the Job,9677,tt0289477,2001,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 1, 'character': 'Stapler...",...,0.000000e+00,2001-08-08,0.0,0.000000e+00,0.0,10.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,7.9,66
50,Tokyo Godfathers,13398,tt0388473,2003,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 10, 'character': 'Miyuki...",...,2.941800e+05,2003-12-29,215562.0,2.941800e+05,215562.0,92.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,7.8,400
52,The Stoning of Soraya M.,33409,tt1277737,2008,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 1, 'character': 'Zahra',...",...,1.271566e+06,2008-09-07,1090260.0,1.271566e+06,1090260.0,114.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}, {'iso_6...",Released,7.8,116
58,Departures,16804,tt1069238,2008,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 3, 'character': 'Daigo K...",...,8.156185e+07,2008-09-13,69932387.0,8.156185e+07,69932387.0,130.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,7.8,346
66,Innocent Voices,20941,tt0387914,2004,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 1000, 'character': 'Chav...",...,1.112634e+06,2004-11-05,837000.0,1.112634e+06,7048103.0,120.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,7.8,65
67,The Chaser,13855,tt1190539,2008,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 1, 'character': 'Jung-Ho...",...,4.256484e+07,2008-02-14,36495748.0,4.256484e+07,36495748.0,125.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,7.8,497
68,Infernal Affairs,10775,tt0338564,2002,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 25, 'character': 'Inspec...",...,1.215605e+07,2002-12-12,8708932.0,1.215605e+07,8836958.0,101.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,7.8,803
70,The Girl Who Leapt Through Time,14069,tt0808506,2006,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 7, 'character': 'Makoto ...",...,4.733168e+06,2006-07-15,3800000.0,4.733168e+06,0.0,98.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,7.8,1016
75,Louis C.K.: Shameless,24447,tt0927619,2007,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 1, 'character': 'Himself...",...,0.000000e+00,2007-01-12,0.0,0.000000e+00,0.0,57.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,7.8,77
80,Day of the Wacko,20719,tt0330243,2002,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 2, 'character': 'Adam Mi...",...,1.783182e+06,2002-07-07,1277521.0,1.783182e+06,1277521.0,93.0,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,7.8,77
82,Il Mare,12650,tt0282599,2000,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 1, 'character': 'Han Sun...",...,3.166500e+05,2000-09-09,217147.0,3.166500e+05,217147.0,105.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,7.8,66
94,Hedwig and the Angry Inch,13403,tt0248845,2001,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 11, 'character': 'Hansel...",...,5.167048e+06,2001-07-20,3644200.0,5.167048e+06,3644200.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,7.7,160
95,Dolls,870,tt0330229,2002,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 11, 'character': 'Sawako...",...,7.545388e+06,2002-09-05,5405725.0,7.545388e+06,5405725.0,114.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,7.7,145
98,Azur & Asmar: The Princes' Quest,19026,tt0439123,2006,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 3, 'character': 'La Fée ...",...,1.486858e+07,2006-10-25,11937168.0,1.486858e+07,11937168.0,99.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,7.7,296
103,Shelter,17483,tt0942384,2007,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 1, 'character': 'Zach', ...",...,1.727794e+05,2007-06-16,142666.0,1.727794e+05,142666.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,7.7,243
104,Robot Chicken: Star Wars Episode II,42982,tt1334272,2008,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 1, 'character': 'The Ner...",...,0.000000e+00,2008-11-16,0.0,0.000000e+00,0.0,23.0,[],Released,7.7,71
105,Cowboy Bebop: The Movie,11299,tt0275277,2001,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 26, 'character': 'Spike ...",...,4.264853e+06,2001-09-01,3007903.0,4.264853e+06,3007903.0,115.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,7.7,355
106,Still Walking,25050,tt1087578,2008,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 12, 'character': 'Ryota ...",...,3.800147e+06,2008-06-28,3258304.0,3.800147e+06,3258304.0,114.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,7.7,131
107,A Town Called Panic,40623,tt1433540,2009,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 37, 'character': 'Cowboy...",...,2.296162e+05,2009-06-17,196176.0,2.296162e+05,196176.0,75.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,7.7,88
111,The Chorus,5528,tt0372824,2004,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 11, 'character': 'Clémen...",...,1.174925e+08,2004-03-17,88385944.0,1.174925e+08,88385944.0,96.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,7.7,1337
112,Waking Life,9081,tt0243017,2001,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 1, 'character': 'Main Ch...",...,4.504443e+06,2001-01-23,3176880.0,4.504443e+06,3176880.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,7.7,493
113,Memories of Matsuko,31512,tt0768120,2006,0.0,0.0,NaN,NaN,0.0,"{'cast': [{'cast_id': 4, 'character': 'Matsuko...",...,1.193063e+07,2006-01-01,9578449.0,1.193063e+07,9578449.0,130.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,7.7,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9300,Wounds,505423,tt5913798,2019,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 1, 'character': 'Will', ...",...,NaN,2019-01-26,NaN,NaN,NaN,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,4.0,253
9301,Leprechaun: Origins,126172,tt2345613,2014,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 2, 'character': 'Leprech...",...,NaN,2014-08-22,NaN,NaN,NaN,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,3.9,99
9302,Mockingbird,289712,tt2125685,2014,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 0, 'character': 'Megan',...",...,NaN,2014-10-07,NaN,NaN,NaN,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,4.0,61
9306,The Haunting of Sharon Tate,503706,tt7976208,2019,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 2, 'character': 'Sharon ...",...,NaN,2019-04-05,NaN,NaN,NaN,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,3.9,65
9308,Cymbeline,240745,tt3093522,2014,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 3, 'character': 'Cymbeli...",...,NaN,2014-09-03,NaN,NaN,NaN,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,3.8,62
9309,The Demented,205891,tt2113792,2013,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 1, 'character': 'Taylor'...",...,NaN,2013-07-30,NaN,NaN,NaN,92.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,3.9,69
9311,Avengers Grimm,323660,tt4296026,2015,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 9, 'character': 'Sleepin...",...,NaN,2015-03-17,NaN,NaN,NaN,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,3.9,59
9313,2012: Ice Age,59722,tt1846444,2011,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 4, 'character': 'Bill Ha...",...,NaN,2011-06-27,NaN,NaN,NaN,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,3.8,135
9314,Hellions,241927,tt3305844,2015,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 3, 'character': 'Dora Vo...",...,NaN,2015-09-25,NaN,NaN,NaN,80.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,3.8,104
9315,Andron,395883,tt4073890,2015,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 2, 'character': 'Adam', ...",...,NaN,2015-11-08,NaN,NaN,NaN,100.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,3.8,83
9317,Beneath,191619,tt2325518,2013,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 4, 'character': 'Johnny'...",...,NaN,2013-07-19,NaN,NaN,NaN,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,3.7,51
9319,Not Cool,292483,tt3569356,2014,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 27, 'character': 'Scott'...",...,NaN,2014-09-23,NaN,NaN,NaN,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,3.7,68
9320,The Black Room,425931,tt5431600,2016,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 5, 'character': 'Jennife...",...,NaN,2016-10-31,NaN,NaN,NaN,91.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,3.7,86
9322,Singularity,484886,tt7312940,2017,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 1, 'character': 'Elias V...",...,NaN,2017-11-24,NaN,NaN,NaN,92.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,3.7,92
9323,The Human Centipede 3 (Final Sequence),94365,tt1883367,2015,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 9, 'character': 'William...",...,NaN,2015-05-22,NaN,NaN,NaN,103.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,3.7,364
9324,Stranded,196830,tt2268573,2013,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 1, 'character': 'Col. Ge...",...,NaN,2013-05-22,NaN,NaN,NaN,84.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,3.6,74
9326,Dracula 3D,135812,tt1852770,2012,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 7, 'character': 'Dracula...",...,NaN,2012-11-09,NaN,NaN,NaN,109.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,3.5,96
9327,Battle of Los Angeles,59197,tt1758570,2011,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 1, 'character': 'Lt. Tyl...",...,NaN,2011-03-10,NaN,NaN,NaN,91.0,"[{'iso_639_1': 'zh', 'name': '普通话'}, {'iso_639...",Released,3.4,68
9330,Titanic 2,44918,tt1640571,2010,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 1, 'character': 'Hayden ...",...,NaN,2010-08-07,NaN,NaN,NaN,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,3.4,110
9331,Sand Sharks,83896,tt1844770,2011,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 10, 'character': 'Jimmy ...",...,NaN,2011-12-20,NaN,NaN,NaN,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,3.3,59
9332,Breaking Wind,80384,tt1651323,2012,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 12, 'character': 'Bella'...",...,NaN,2012-03-27,NaN,NaN,NaN,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,3.3,120
9334,Muck,256030,tt2207484,2015,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 9, 'character': 'Troit',...",...,NaN,2015-03-15,NaN,NaN,NaN,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,3.2,57
9336,Mega Shark vs. Mecha Shark,246594,tt3152098,2014,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 2, 'character': 'Jack Tu...",...,NaN,2014-01-28,NaN,NaN,NaN,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,3.1,50
9338,InAPPropriate Comedy,156268,tt1754811,2013,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 3, 'character': 'J.D.', ...",...,2.457638e+02,2013-03-22,228.0,2.457638e+02,NaN,84.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,2.9,53
9339,Back in the Day,368596,tt3349772,2016,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 1, 'character': 'Gino Fr...",...,NaN,2016-05-20,NaN,NaN,NaN,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,2.8,102
9340,Mega Shark vs. Crocosaurus,52454,tt1705773,2010,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 1, 'character': 'Dr. Ter...",...,NaN,2010-12-21,NaN,NaN,NaN,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,2.8,67
9341,American Poltergeist,345931,tt3108604,2015,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 0, 'character': 'Zoe', '...",...,NaN,2015-05-29,NaN,NaN,NaN,77.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,2.7,69
9342,Atlantic Rim,203351,tt2740710,2013,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 1, 'character': 'General...",...,NaN,2013-07-09,NaN,NaN,NaN,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,2.5,56
9343,Birdemic 2: The Resurrection,188489,tt1674047,2013,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 2, 'character': 'Rod', '...",...,NaN,2013-04-09,NaN,NaN,NaN,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,2.3,58
9344,Birdemic: Shock and Terror,40016,tt1316037,2010,0.0,0.0,NaN,NaN,NaN,"{'cast': [{'cast_id': 2, 'character': 'Rod', '...",...,NaN,2010-02-27,NaN,NaN,NaN,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,2.0,175

Split out information on the production companies' countries and production companies.

In [196]:
production_countries = pd.Series(
    [[x['name'] for x in companies_list] 
        for companies_list in df['production_countries']],
        name='production_countries').to_frame()

production_countries.head()

                         production_countries
0                                     [Japan]
1  [United Kingdom, United States of America]
2     [New Zealand, United States of America]
3                                    [Brazil]
4                                     [Japan]

In [42]:
companies = pd.Series(
    [[x['name'] for x in companies_list] for companies_list in df['production_companies']],
    name='companies').to_frame()

companies.head()

                                           companies
0                                    [Studio Ghibli]
1  [DC Comics, Legendary Entertainment, Syncopy, ...
2  [New Line Cinema, WingNut Films, The Saul Zaen...
3  [O2 Filmes, Videofilmes, Wild Bunch, Hank Levi...
4  [d-rights, Tokuma Shoten, Tohokushinsha Film C...

In [154]:
companies_id = pd.Series(
    [[x['id'] for x in companies_list] for companies_list in df['production_companies']],
    name='companies_id').to_frame()

companies_id.head()

                                        companies_id
0                                            [10342]
1                [429, 923, 9996, 118865, 9993, 174]
2                                     [12, 11, 5237]
3               [345, 346, 856, 11445, 13969, 11793]
4  [12518, 1779, 115689, 10342, 20192, 11847, 275...

Append company identifications to the films df.

In [158]:
companies_df = list_col_to_rows(
    companies_id.merge(df, left_index = True, right_index = True), 'companies_id')

companies_df['companies_id'] = companies_df['companies_id'].astype('int')

companies_df.head()

,companies_id,title,id,imdb_id,year,budget,budget_adj,budget_adj_bin,budget_bin,budget_imdb,...,profit_adj,release_date,revenue,revenue_adj,revenue_imdb,runtime,spoken_languages,status,vote_average,vote_count
0,10342,Spirited Away,129,tt0245429,2001,19000000.0,2.693977e+07,10-30M,10-30M,NaN,...,3.628717e+08,2001-07-20,2.749251e+08,3.898115e+08,NaN,125.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,8.5,8163
1,429,The Dark Knight,155,tt0468569,2008,185000000.0,2.157647e+08,150-250M,150-250M,NaN,...,9.558476e+08,2008-07-16,1.004558e+09,1.171612e+09,NaN,152.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,8.4,20453
2,923,The Dark Knight,155,tt0468569,2008,185000000.0,2.157647e+08,150-250M,150-250M,NaN,...,9.558476e+08,2008-07-16,1.004558e+09,1.171612e+09,NaN,152.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,8.4,20453
3,9996,The Dark Knight,155,tt0468569,2008,185000000.0,2.157647e+08,150-250M,150-250M,NaN,...,9.558476e+08,2008-07-16,1.004558e+09,1.171612e+09,NaN,152.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,8.4,20453
4,118865,The Dark Knight,155,tt0468569,2008,185000000.0,2.157647e+08,150-250M,150-250M,NaN,...,9.558476e+08,2008-07-16,1.004558e+09,1.171612e+09,NaN,152.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,8.4,20453

In [159]:
cos = list_col_to_rows(
    df[['production_companies']], 'production_companies'
    )['production_companies'].apply(pd.Series)

cos.drop_duplicates(inplace=True)

cos.head()

,id,logo_path,name,origin_country
0,10342,/dT3UbXjca6TClutHJtr7GhkRALP.png,Studio Ghibli,JP
1,429,/2Tc1P3Ac8M479naPp1kYT3izLS5.png,DC Comics,US
2,923,/5UQsZrfbfG2dYJbx8DxfoTr2Bvu.png,Legendary Entertainment,US
3,9996,/3tvBqYsBhxWeHlu62SIJ1el93O7.png,Syncopy,GB
4,118865,None,Isobel Griffiths,GB

In [164]:
cos.shape

(9732, 4)

We're interested in looking at the performance of production companies. How many films they made, how much was spent, how much was made.

In [174]:
grouped = companies_df.groupby('companies_id')

In [175]:
films = grouped['id'].count().sort_values(ascending=False).reset_index()

In [188]:
films.head()

   companies_id   id
0            33  337
1           174  316
2           104  262
3             5  239
4            25  205

In [192]:
cos[cos['id']==2]

     id                         logo_path                  name origin_country
107   2  /wdrCwmRnLFJhEoH8GSfymY85KHT.png  Walt Disney Pictures             US

In [176]:
money = grouped['budget_adj', 'revenue_adj', 'profit_adj'].sum()

In [190]:
money.head()

                budget_adj   revenue_adj    profit_adj
companies_id
1             1.862941e+09  8.824272e+09  6.961331e+09
2             1.574702e+10  5.374744e+10  3.802363e+10
3             3.384319e+09  1.482961e+10  1.144529e+10
4             1.601898e+10  4.476872e+10  2.887924e+10
5             1.857436e+10  4.836924e+10  2.988201e+10

In [194]:
money.merge(cos, left_index=True, right_on='id', how='left')

,budget_adj,revenue_adj,profit_adj,id,logo_path,name,origin_country
1296,1.862941e+09,8.824272e+09,6.961331e+09,1,/o86DbpburjxrqAzEDhXZcyE8pDb.png,Lucasfilm,US
107,1.574702e+10,5.374744e+10,3.802363e+10,2,/wdrCwmRnLFJhEoH8GSfymY85KHT.png,Walt Disney Pictures,US
106,3.384319e+09,1.482961e+10,1.144529e+10,3,/1TjvGVDMYsj6JBxOAkUHpPEwLf7.png,Pixar,US
616,1.601898e+10,4.476872e+10,2.887924e+10,4,/fycMZt242LVjagMByZOLUGbCvv3.png,Paramount,US
213,1.857436e+10,4.836924e+10,2.988201e+10,5,/71BqEFAF4V3qjjMPCpLuyJFB9A.png,Columbia Pictures,US
73,7.422476e+09,2.100131e+10,1.363201e+10,7,/vru2SssLX3FPhnKZGtYw00pVIS9.png,DreamWorks Pictures,US
150,9.322569e+07,1.837238e+08,9.049807e+07,8,/78ilmDNTpdCfsakrsLqmAUkFTrO.png,Fine Line Features,
1738,4.821078e+08,9.628259e+08,4.807182e+08,9,/nda3dTUYdDrJ6rZqBpYvY865aDv.png,Gaumont,FR
8,1.800962e+09,8.802788e+09,7.001826e+09,11,/6FAuASQHybRkZUk08p9PzSs9ezM.png,WingNut Films,NZ
7,7.614254e+09,2.595854e+10,1.846676e+10,12,/iaYpEp3LQmb8AfAtmTvpqd4149c.png,New Line Cinema,US
78,2.985422e+09,6.929605e+09,3.954800e+09,14,/m6AHu84oZQxvq7n1rsvMNJIAsMu.png,Miramax,US
2514,7.300508e+07,1.154124e+07,-6.146384e+07,15,None,Lama Films,
10878,1.861037e+06,5.943635e+06,4.082599e+06,16,/7690NQfOfnbvrY3vFgyMO2Pc8WS.png,United King Films,IL
11088,0.000000e+00,1.801920e+07,1.801920e+07,17,/s1y7CTv6YHe87YUGOq6SRB6DmO7.png,Warner Bros. Entertainment,US
2590,4.128388e+08,8.378866e+08,4.250478e+08,18,/uqhagSwM7NAkQWVCQhKTyoqF8XH.png,Gracie Films,US
2592,9.083073e+07,6.383206e+08,5.474899e+08,19,None,Film Roman,
894,6.391342e+09,1.608660e+10,9.703956e+09,21,/mjofSXiHpG5t6KYmU4l4FrUhT7m.png,Metro-Goldwyn-Mayer,US
245,3.214160e+09,6.823572e+09,3.609412e+09,23,/mkxNjThahj5pvntvYKVpMbWXm3D.png,Imagine Entertainment,US
899,2.640775e+08,7.870850e+08,5.230076e+08,24,None,Mikona Productions GmbH & Co. KG,
269,1.555866e+10,5.085948e+10,3.533626e+10,25,/qZCc1lty5FzX30aOCVRBLzaVmcp.png,20th Century Fox,US
1654,1.510514e+07,9.314715e+07,7.804201e+07,28,None,Newmarket Films,US
1571,9.678210e+07,1.539839e+08,5.720176e+07,32,None,Buena Vista Pictures,
58,1.805268e+10,5.657133e+10,3.851865e+10,33,/8lvHyhjr8oUKOOy2dKXoALWKdp0.png,Universal Pictures,US
346,8.513002e+09,2.724255e+10,1.872955e+10,34,/GagSvqWlyPdkFHMfQ3pNq6ix9P.png,Sony Pictures,US
414,8.019668e+08,2.628125e+09,1.842302e+09,35,/wxrHa3nZ1K4zo65p56991INkGo6.png,Lions Gate Films,US
528,9.813329e+07,1.044131e+08,6.279799e+06,37,/nlG4JEjJ7SAFDehgIVvHFBPW23y.png,Gramercy Pictures,US
12301,3.609584e+07,7.197072e+07,3.587488e+07,41,/AuAIlCWBrbhbUFFrJ6M9E3ihBoj.png,Orion Pictures,US
18980,0.000000e+00,0.000000e+00,0.000000e+00,42,None,Universal Pictures Corporation,
364,1.083806e+09,4.415803e+09,3.331997e+09,43,/4RgIPr55kBakgupWkzdDxqXJEqr.png,Fox Searchlight Pictures,US
631,1.123909e+09,3.745875e+09,2.621966e+09,44,None,Cruise/Wagner Productions,
...,...,...,...,...,...,...,...
12757,3.857250e+06,0.000000e+00,-3.857250e+06,124676,None,Infinite Entertainment,
26816,0.000000e+00,2.288722e+06,2.288722e+06,124736,None,PTG Nevada,
15588,0.000000e+00,1.207800e+05,1.207800e+05,124854,None,Yoki,
10659,7.089413e+06,3.376238e+06,-3.713175e+06,124883,None,Tmavomodrý svět,CZ
4782,0.000000e+00,2.467826e+07,2.467826e+07,124913,None,Xian Longrui Film and TV Culture Media Co.,
27220,2.500000e+07,1.294160e+07,-1.205840e+07,125282,None,Nebulastar,GB
15562,0.000000e+00,1.935168e+06,1.935168e+06,125301,None,Icelandic Film Center,
1143,8.477535e+07,5.362939e+08,4.515185e+08,125334,None,KanZaman Services,
16468,2.072828e+07,1.003340e+06,-1.972494e+07,125368,None,Centre National du Cinéma et de L'image Animée...,
19058,0.000000e+00,3.427514e+05,3.427514e+05,125453,None,Film and Television Tax Credit Administered by...,
19059,0.000000e+00,3.427514e+05,3.427514e+05,125454,None,Gestion SODEC,
19061,0.000000e+00,3.427514e+05,3.427514e+05,125455,None,SODEC Québec,
24330,0.000000e+00,1.457366e+06,1.457366e+06,125584,None,Aperture Media Partners,
26637,5.122124e+06,6.742764e+03,-5.115381e+06,125710,None,Palomo Films,
10020,0.000000e+00,1.749444e+01,1.749444e+01,125736,None,Huntington Prep,
12897,0.000000e+00,5.327701e+06,5.327701e+06,125938,None,Joshmax Productions Services,
23969,5.000000e+07,8.704180e+07,3.704180e+07,126013,None,Templeton Media,
3840,3.489536e+07,6.711229e+05,-3.422424e+07,126041,None,Lions Gate Films,
16466,2.072828e+07,1.003340e+06,-1.972494e+07,126130,None,Agence Nationale de Gestion des Œuvres Audiovi...,
8613,2.571500e+07,0.000000e+00,-2.571500e+07,126134,None,Action Synthese,
8620,2.571500e+07,0.000000e+00,-2.571500e+07,126135,None,SPZ Entertainment,
8621,2.571500e+07,0.000000e+00,-2.571500e+07,126136,None,bolexbrothers,
8068,3.985825e+07,9.989225e+07,6.003400e+07,126304,None,MP Inka,
21092,0.000000e+00,1.470140e+05,1.470140e+05,126355,None,Colony Pictures,CA
21094,0.000000e+00,1.470140e+05,1.470140e+05,126513,None,Lane E Productions,
19782,2.100000e+07,8.600192e+06,-1.239981e+07,126549,None,Rose Pictures,
21520,7.367803e+07,6.449853e+07,-9.179494e+06,126662,None,Mascot Pictures Wales,
13625,5.389557e+06,5.949886e+07,5.410930e+07,126735,None,CE,
13627,5.389557e+06,5.949886e+07,5.410930e+07,126736,None,R² Films,
13228,5.267070e+06,0.000000e+00,0.000000e+00,126749,None,Lies and Deceptions Productions,

In [179]:
companies_df[companies_df['companies_id']==126749]

,companies_id,title,id,imdb_id,year,budget,budget_adj,budget_adj_bin,budget_bin,budget_imdb,...,profit_adj,release_date,revenue,revenue_adj,revenue_imdb,runtime,spoken_languages,status,vote_average,vote_count
13228,126749,Lies & Illusions,23736,tt1202222,2009,4500000.0,5.267070e+06,5-10M,2-5M,NaN,...,NaN,2009-08-26,NaN,NaN,NaN,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,3.8,30

In [181]:
cos[cos['id']==20192]

       id logo_path                             name origin_country
20  20192      None  Nippon Television Network (NTV)             JP

In [187]:
# company_request('20192')
requests.get('https://api.themoviedb.org/3/company/'
                            + '20192'       
                            + '?api_key=' + tmdb_key).json()

{'success': False,
 'status_code': 34,
 'status_message': 'The resource you requested could not be found.'}

In [184]:
def company_request(id_):
    """Get information on a company from TMDb.
    
    Queries the TMDb API using a company's id and returns a 
    dataframe of all their info.
    """
    
    response = requests.get('https://api.themoviedb.org/3/company/'
                            + id_       
                            + '?api_key=' + tmdb_key)
    
    company_df = pd.DataFrame((response.json()))
    
    return company_df

In [112]:
def companies_list_df(list_of_companies):
    """Get details on a list of companies.
    
    For a list of company ids, queries TMDb for details on each one. The
    responses are tidied into a dataframe.
    
    """
    
    companies_list = []

    for company in tqdm(list_of_companies):
        entry = requests.get('https://api.themoviedb.org/3/company/'
                            + str(company)       
                            + '?api_key=' + tmdb_key)
        entry = (entry.json())
        companies_list += [entry]
        
    df = pd.DataFrame(companies_list)
    
    return df

In [110]:
ids = companies_df['companies_id'].unique().astype('int')

In [113]:
companies_details = companies_list_df(ids)

HBox(children=(IntProgress(value=0, max=9726), HTML(value='')))

In [125]:
with open('pickles/companies_details.pkl', 'wb') as file:
    dill.dump(companies_details, file)

In [126]:
companies_details[~companies_details['status_message'].isna()]

,description,headquarters,homepage,id,logo_path,name,origin_country,parent_company,status_code,status_message,success
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
1050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
1274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
1463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
1503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
1545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
1610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
1640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
1931,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
2154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
2278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
2287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
2320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
2673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
3759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
3976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
3980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
4001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
4045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
4065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
4069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
4126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
4134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
4186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
4318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
...,...,...,...,...,...,...,...,...,...,...,...
4609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
4714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
5255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
5256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
5440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
5624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
6289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
6356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
6396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
6430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
6591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
6615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
6650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
6779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
6903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
8185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
8231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
9217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
9255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False

In [121]:
ids[19]

20192

In [173]:
companies_df[companies_df['companies_id']==20192]

,companies_id,title,id,imdb_id,year,budget,budget_adj,budget_adj_bin,budget_bin,budget_imdb,...,profit_adj,release_date,revenue,revenue_adj,revenue_imdb,runtime,spoken_languages,status,vote_average,vote_count
20,20192,Howl's Moving Castle,4935,tt0347149,2004,24000000.0,3.190348e+07,30-50M,10-30M,NaN,...,2.818802e+08,2004-11-19,236049757.0,3.137837e+08,NaN,119.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,8.4,4359
2868,20192,Death Note: The Last Name,16140,tt0810827,2006,20000000.0,2.491141e+07,10-30M,10-30M,NaN,...,3.825197e+07,2006-10-28,50710400.0,6.316338e+07,NaN,141.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,6.8,201
3237,20192,Dark Water,12205,tt0308379,2002,0.0,0.000000e+00,NaN,NaN,0.0,...,2.025028e+06,2002-01-19,1450786.0,2.025028e+06,1450786.0,101.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,6.7,255
4862,20192,Shinobi: Heart Under Blade,10116,tt0475723,2005,10000000.0,1.285750e+07,10-30M,5-10M,10000000.0,...,2.555902e+06,2005-09-17,11987868.0,1.541340e+07,11987868.0,107.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,6.4,86
13563,20192,The Boy and the Beast,315465,tt4272866,2015,0.0,0.000000e+00,NaN,NaN,0.0,...,5.198104e+05,2015-07-11,490643.0,5.198104e+05,49768644.0,119.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,8.0,732
13706,20192,When Marnie Was There,242828,tt3398268,2014,0.0,0.000000e+00,NaN,NaN,0.0,...,5.951455e+05,2014-07-19,561085.0,5.951455e+05,34949567.0,103.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,7.9,753
13848,20192,The Wind Rises,149870,tt2013293,2013,30000000.0,3.233734e+07,30-50M,10-30M,NaN,...,9.478334e+07,2013-07-20,117932401.0,1.271207e+08,NaN,126.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,7.8,1404
14284,20192,The Secret World of Arrietty,51739,tt1568921,2010,23000000.0,2.648614e+07,10-30M,10-30M,NaN,...,1.411490e+08,2010-07-16,145570827.0,1.676352e+08,NaN,94.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,7.5,1358

In [166]:
cos.dtypes

id                 int64
logo_path         object
name              object
origin_country    object
dtype: object

In [167]:
newids = cos['id'].unique()

In [168]:
companies_details = companies_list_df(newids)

HBox(children=(IntProgress(value=0, max=9726), HTML(value='')))

In [169]:
companies_details.head()

,description,headquarters,homepage,id,logo_path,name,origin_country,parent_company,status_code,status_message,success
0,"Studio Ghibli, Inc. (株式会社スタジオジブリ Kabushiki-gai...","Koganei, Tokyo",http://www.ghibli.jp,10342.0,/uFuxPEZRUcBTEiYIxjHJq62Vr77.png,Studio Ghibli,JP,None,NaN,NaN,NaN
1,,"Burbank, California, United States",http://www.dccomics.com/,429.0,/ocBJG7cGdvde3UDlN0v8BEL5Zuw.png,DC Comics,US,None,NaN,NaN,NaN
2,,"Burbank, California, United States",http://www.legendary.com/,923.0,/5UQsZrfbfG2dYJbx8DxfoTr2Bvu.png,Legendary Pictures,US,None,NaN,NaN,NaN
3,,"London, England",,9996.0,/3tvBqYsBhxWeHlu62SIJ1el93O7.png,Syncopy,GB,None,NaN,NaN,NaN
4,,,,118865.0,None,Isobel Griffiths,GB,None,NaN,NaN,NaN

In [171]:
cos[19:20]

       id logo_path                             name origin_country
20  20192      None  Nippon Television Network (NTV)             JP

In [170]:
companies_details[~companies_details['status_message'].isna()]

,description,headquarters,homepage,id,logo_path,name,origin_country,parent_company,status_code,status_message,success
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
1050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
1274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
1463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
1503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
1545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
1610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
1640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
1931,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
2154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
2278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
2287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
2320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
2673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
3759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
3976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
3980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
4001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
4045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
4065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
4069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
4126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
4134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
4186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
4318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
...,...,...,...,...,...,...,...,...,...,...,...
4714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
5255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
5256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
5440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
5624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
6289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
6356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
6396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
6430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
6591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
6615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
6650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
6779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
6903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
7939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
8185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
8231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
9217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False
9255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,The resource you requested could not be found.,False